:root {
    --background-color: black;
    --font-color: white;
    --font-size: 16px;
}

body {
    font-family: Montserrat;
}

#banner-img {
    display: block;
    margin: auto;
}

header, main {
    text-align: center;
}

h1 {
    font-weight: bold;
}

h3 {
    font-weight: 400;
}

.input {
    display: inline-block;
    width: 30%;
}

#weight-text {
    margin-right: -6%;
}

[type=text] {
    border: 1px solid var(--background-color);
    border-radius: 5px;
    height: 35px;
    width: 36%;
    font-size: var(--font-size);
    text-indent: 5%;
}

select {
    margin-left: -16%;
    border-radius: 5px;
    height: 40px;
    width: 36%;
    background-color: var(--font-color);
    font-size: var(--font-size);
    text-indent: 5%;
}

/* #customize-planets {
    margin-left: 4%;
    width: 90%;
}

#multiplier-text {
    margin-left: 10%;
}

#new-planet-multiplier, #new-planet-name {
    width: 40%
}

#add-planet-button {
    height: 18px;
    width: 14.5%;
    font-size: 9px;
} */

.output {
    display: inline-block;
    width: 100%;
    color: darkblue;
    font-size: 25px;
}

button {
    border-radius: 10px;
    height: 50px;
    width: 120px;
    background-color: var(--background-color);
    color: var(--font-color);
    font-size: 18px;
}

button:last-child {
    width: 95px;
}